<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/compose.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <!-- <p class="navbar-brand">DAILY JOURNAL</p> -->
        <div style="display: flex; gap: 5px; margin-left: 10px;">
          <img  src="img/logo.svg" alt="" width="35px">
          <div class="etc" >
            <p class="logo-name" style="display: inline-block; margin-top:10px ;">JBlog</p>
          </div>
        </div>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/home">Home</a></li>
          <li id="Feed"><a href="/Feed">Feed</a></li>
          <li id="about"><a href="/logout">logout</a></li>
        </ul>
    </div>
  </nav>

  <body>

    <div class="container">


        <h1>
            Compose Post
        </h1>


        <form class="" action="/compose" method="post">
            <div class="form-group">
                <label>Title</label>
                <input class="form-control" type="text" name="title">
                <label>Post</label>
                <textarea class="form-control" name="content" rows="5" cols="30"></textarea>
            </div>
            <button class="btn btn-primary" type="submit" name="button">Publish</button>
        </form>

    </div>
    
    <div class="footer-padding">

        <div class="footer">
            <p style="text-align:center;">Made with ❤️ by Amit mehra</p>
        </div>

    </div>


</body>
</html>
