<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jblog</title>
  <style>
    body{
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      background-color:#f8f5fa;
    }

    .container{
      width: 400px ;
      height: 250px;
      margin: auto;
      margin-top: 100px;
      padding: 25px;
      border-radius: 15px;
    }

    .abc, p {
      text-align: center;
    }

    h1{
      font-size: 4rem;
    }

    .link{
      border: 1px solid grey;
      font-size: 1.2rem;
      text-align: center;
      padding: 8px;
      background-color: #7049E2;
      border-radius: 10px;
    }

    .link:hover{
      background-color: #8063d6;
    }

    a{
      text-decoration: none;
      color: white;

    }

  </style>
</head>
<body>

  <div class="container">
    <div class="abc">
      <h1 class="main">OOPS</h1>
    </div>

    <div class="mgs">
      <p>An user with this email already exits.</p>
    </div>
    <div class="link"><a href="/register">Try Again</a></div>
  </div>

</body>
</html>