<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/home.css">
  
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <div style="display: flex; gap: 5px; margin-left: 10px;">
          <img  src="img/logo.svg" alt="" width="35px">
          <div class="etc" >
            <p class="logo-name" style="display: inline-block; margin-top:10px ; font-size: 20px;">JBlog</p>
          </div>
        </div>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/home">Home</a></li>
          <li id="about"><a href="/compose">Compose Post</a></li>
          <li id="contact"><a href="/logout">Logout</a></li>
        </ul>
    </div>
  </nav>



  <body>

    <div class="container">

      <h1>Home</h1>
      <p>This is a Journal blog website. It enables its users to save your journals and maintain them on cloud, this site is very safe and secure. Through this website we have provided you a tool by which you can create and access all the blogs of yours from anywhere in the world.</p>

      <%  for (let index = 0; index < dummy.length; index++) { %>
        <h1><%= dummy[index].title %></h1>
        <p><%=  dummy[index].content %></p>
        <% } %>
    </div>

    <div class="footer-padding" ></div>
        <div class="footer">
            <p>Made with ❤️ by Amit mehra</p>
        </div>
    </div>
</body>
</html>
